body {
    background-color: rgba(247, 247, 249, 0.2);
} 

#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 2.5rem;
}
#footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    background-color: rgba(127, 127, 127, 0.2);
}

.function-container {
    text-align: center;
    padding: 10px 0 16px;
}

.editor-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 80vh;
}
.editor {
    width: 48%;
    margin: 0 0 0 1%; 
    height: 100%;
    border-radius: 5px;
    border: 2px solid rgba(39, 64, 101, 0.3);
}
.resizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20px;
    cursor: col-resize;
    background-color: transparent;
    padding: 0;
    color: grey;
}
.viewer {
    overflow: auto;
    /* white-space: nowrap;
    word-wrap: normal;
    overflow-wrap: normal; */
    width: 47%;
    /* margin: 0 1%; */
    height: 100%;
    line-height: 1.67;
    background-color: #eef4f7;
    border-radius: 5px;
    border: 2px solid rgba(39, 64, 101, 0.3);
}

.view-text {
    padding: 1em 1em;
    color: rgb(100, 100, 100);
    font-weight: bold;
    font-size: 18px;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
}

.bold-font {
    font-weight: bold;
}
.normal-font {
    font-weight: normal;
}

.CodeMirror{
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 18px;
    line-height: 1.33;
    height: 100%;
    background-color: #eef4f7;
    border-radius: 5px;
}
.d2h-diff-table {
    font-size: 16px; /* diff 的字体 */
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
}
.cm-tab {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
    background-position: right;
    background-repeat: no-repeat;
 }

.selector {
    text-align: center;
    width: 8rem;
    height: 2rem;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    border-radius: 0.5rem;
    background-color: rgba(223, 239, 243, 0.2); 
    margin: 0 0.7%;
    border: 2px solid rgba(39, 64, 101, 0.7);
}
select:hover {
    border: none;
    box-shadow: 0px 0px 3px 3px #6d0404;
    cursor: pointer;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    margin: 0 0.7%;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    top: 100%;
    left: 50%;
    margin-top: 10px;
    margin-left: -20px;
    background-color: rgb(48, 45, 45);
    color: #d0c8c8;
    text-align: left;
    font-size: 1rem;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    padding: 20px 20px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip-inner {
    white-space: pre-line;
}
.tooltip ul {
    margin: 20px;
}
.tooltip li {
    margin: 10px 20px;
    line-height: 1.5rem;
}


.back-to-top {
    position: fixed;
    z-index: 100;
    font-size: 2rem;
    opacity: 0.8;
    bottom: 55vh;
    right: 2vw;
    display: none;
    cursor: pointer;
}
.back-to-bottom {
    position: fixed;
    z-index: 100;
    font-size: 2rem;
    opacity: 0.8;
    bottom: 47vh;
    right: 2vw;
    display: none;
    cursor: pointer;
}
.show {
    display: block;
}

label:hover {
    box-shadow: 0px 0px 3px 3px #df8219;
    cursor: pointer;
}
.check-box {
    text-align: center;
    width: 8rem;
    height: 2rem;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 0 0.02%;
    border-radius: 5px;
    padding: 0.3rem 0.4rem;
}
#check-str2json, #check-sortkey, #check-showidx, #check-lineno, #check-tab, #check-wrap, #check-simple-array-wrap {
    vertical-align: middle;
    accent-color: rgba(21, 54, 86, 0.2);
}

.button {
    border-radius: 0.5rem;
    background-color: rgba(223, 239, 243, 0.2); 
    border: none;
    padding: 10px;
    color: #333;
}
.button:hover {
    box-shadow: 0px 0px 3px 3px #0c5986;
    cursor: pointer;
    border: none;
}

.fullscreen {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    width: 100vw!important;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 9999;
    background-color: #eef4f7;
}

.popup {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 10vh;
    left: 45vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 3rem;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    border-radius: 0.5rem;
    background-color: rgb(243, 212, 183);
    border: none; 
}

.input-container {
    display: flex; 
    width: 54%;
    margin: 10px auto; 
    text-align: center;
    height: 10vh;
}
.inputer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 48%;
    height: 100%; 
    border: none;
}
input[type="text"] {
    border: none;
    border-bottom: 2px solid rgba(39, 64, 101, 0.7);
    background: transparent;
    min-width: 20rem;
    max-width: 40rem;
    width: 20rem;
    height: 1.6rem;
    color: rgb(180,20,20);
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
input[type="text"]:focus {
    outline: none;
}
.function-container input[type="text"] {
    border-radius: 5px;
    border: 2px solid rgba(39, 64, 101, 0.7);
    min-width: 10rem;
    max-width: 80rem;
    width: 10rem;
}

#button-list-left ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 5vh 5px; 
    list-style: none;
    height: 70vh;
}
#button-list-left li {
    list-style-type: none;
    text-align: center;
}

#button-list-right ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 5vh 5px; 
    list-style: none;
    height: 70vh;
}
#button-list-right li {
    list-style-type: none;
    text-align: center;
}

.icon-name {
    text-align: center;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    margin: 2px 0;
}

.lineno-container {
    overflow: visible;
}
.lineno {
    display: none;
    user-select: none;
    cursor: default;
    margin: 0;
    padding: 1em 6px 0 3px;
    font-size: 18px;
    line-height: 1.67;
    text-align: right;
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    color: rgb(153, 153, 153);
    border: none;
    background-color: rgb(247,247,247);
}

.error {
    font-family: Menlo, 'Droid Sans Mono', Consolas, monospace;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(180, 20,20);
    white-space: pre-wrap;
}

.text-wrap {
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
}
.text-nowrap {
    white-space: pre; 
    word-wrap: normal;
    overflow-wrap: normal;
}

.match-highlight {
    background-color: rgba(31, 110, 129, 0.5);
}

a {
    color: #d0c8c8;
}

.code {
    color: orange;
}
